body{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.name::after{
    content: "";
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: 100%;
    height: .35rem;
    border-radius: 1rem;
    background-image: linear-gradient(90deg,#9f55ff,#7000ff);
    box-shadow: 0 0 1rem #7000ff;
    animation: SpanGrow 1.3s cubic-bezier(.9,0,.5,.9) .8s
}

.myskills{
    background: linear-gradient(90deg,#9f55ff,#7000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes SpanGrow {
    0% {
        width: 0
    }

    to {
        width: 98%
    }
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
  }
  nav .logo {
    display: flex;
    align-items: center;
  }
  nav .logo img {
    height: 25px;
    width: auto;
    margin-right: 10px;
  }
  nav .logo h1 {
    /* font-size: 1.1rem; */
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    margin-left: 1.5rem;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #f4f4f4;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
  
  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgb(0, 0, 0);
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .menubar ul {
    padding: 0;
    list-style: none;
  }
  .menubar ul li {
    margin-bottom: 32px;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: "32px";
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .menubar ul li a:hover {
    background-color: #3d3d3d;
  }
  @media screen and (max-width: 790px) {
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }
  }
  
